
.prompt {
  color: blue;
  font-weight: bold;
}

.doc p code.userinput,
.cmd,
.doc p code.cmd {
  color: red;
  font-weight: bold;
}

.doc p code,
.output {
  color: blue;
}

kbd {
  color: #333;
  font-weight: normal;
}

.doc p code.app {
  color: #333;
  font-weight: bold;
}
